#quote-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
    width: 200px;
    padding: 2%;
}

p {
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
}